@font-face {
    font-family: 'overbyte';
    src: url('./fonts/overbyte/ccoverbyteoffregular.otf')
         format('opentype');
}

body {
    background-color: #E9ECEF;
    color: #343A40;
    margin: 0;    
    min-height: 100vh;
    display: grid;    
    font-family: 'overbyte';        
    grid-template-areas:
        'one'
        'two'
        'three';
}

.heading {
    font-size: 3em;
    text-align: center;
    align-self: center;  
    text-shadow: -1px -1px 0px #E9ECEF,
                  3px 3px 0px #E9ECEF,
                  6px 6px 0px #CED4DA;
}

.main {  
    display: grid;
    place-content: center;
    gap: 0 4rem;
    grid-template-areas: 
        'one two two';
}

.main:nth-child(1) {
    grid-area: one;    
}

.main:nth-child(2) {
    grid-area: two;
}

.settings {
    background-color: #DEE2E6;
    width: 250px;
    height: 600px;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.grid-container {    
    width: 600px;
    height: 600px;
    display: grid;
    gap: 0;
    border: thin solid #A7BBC7;    
    background-color: white;
}

.grid-container div{
    border: thin solid #E1E5EA;
    filter: brightness(1);
}

.brush-color {
    padding: 0;
    border: thin solid #343A40;
    height: 3rem;
    cursor: pointer;
}

.brush-color:hover {
    filter: brightness(50%);
}

.footer {
    text-align: center;
    align-self: center;    
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-grid {
    background-color: white;
}

button{
    background-color: #E9ECEF;
    border: 1px solid #343A40;
    border-radius: .25rem;
    padding: 15px 25px;
    width: 137.3px;
    font-family: inherit;
    font-size: 1.4em;
    color: #343A40;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
    transform: translateY(-1px);
    
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slider-label {
    font-size: 1.3em;
}

.grid-dimensions-slider {
    margin-bottom: 12px;    
    transform: scale(1.1);
}

.github-logo {
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
}

a {
    text-decoration: none;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}