@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

body {
    background-color: #F8F9FA;
    color: #343A40;
    margin: 0;    
    min-height: 100vh;
    display: grid;    
    font-family: 'DynaPuff', cursive;        
    grid-template-areas:
        'one'
        'two'
        'three';
}

.heading {
    font-size: 3em;
    text-align: center;
    align-self: center;  
}

.main {  
    display: grid;
    place-content: center;
    gap: 0 4rem;
    grid-template-areas: 
        'one two two';
}

.main:nth-child(1) {
    grid-area: one;    
}

.main:nth-child(2) {
    grid-area: two;
}

.settings {
    background-color: #ADB5BD;
    border: thin solid #343A40;
    width: 250px;
    height: 600px;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.grid-container {    
    width: 600px;
    height: 600px;
    display: grid;
    gap: 0;
    border: thin solid #A7BBC7;    
    background-color: white;
}

.grid-container div{
    border: thin solid #E1E5EA;
    filter: brightness(1);
}

.brush-color {
    padding: 0;
    border: thin solid #343A40;
    height: 3rem;
}

.brush-color:hover {
    filter: brightness(50%);
}

.footer {
    text-align: center;
    align-self: center;    
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-grid {
    background-color: white;
}

button{
    background-color: #E9ECEF;
    border: 1px solid #343A40;
    border-radius: .25rem;
    padding: 15px 25px;
    width: 137.3px;
    font-family: inherit;
    font-size: 1.4em;
    color: #343A40;
}

button:hover {
    filter: brightness(90%);
    transform: translateY(-1px);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slider-label {
    font-size: 1.3em;
}

.grid-dimensions-slider {
    margin-bottom: 12px;    
    transform: scale(1.1);
}

.github-logo {
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
}

a {
    text-decoration: none;
}